body {
    background: #fafafa;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #FEC227;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FEC227;
}

footer a:focus,
footer a:hover {
    color: #FEC227;
}

footer a {
    color: #fff;

}

header,
footer {
    background-color: #2f383a;
}

header {
    color: #fff;
}


footer {
    color: white;
}