.page-item.active .page-link {
    background-color: #FEC227;
    border-color: #FEC227;
}

.page-link {
    color: #3C4A4D;
}

thead,
tfoot {
    color: white;
    background-color: #3C4A4D;
}

.page-item.active .page-link {
    background-color: #FEC227;
    border-color: #FEC227;
}